# @sentropic/design-system-themes@0.5.0 has no SPDX license field yet.
# See docs/superpowers/plans/2026-05-16-onyxia-sentropic-theme-plan.md Task 3
# for the upstream fix in rhanka/sent-tech-design-system.
audit=false
fund=false
